/* archivo CSS */
#title {
    font-family: "Chirp", sans-serif;
    /* text-align: center;  centrar el texto */
    color: #00acee;         /* cambiar el color del texto */
  }  
textarea {
    width: 500px;
    height: 200px;
  }
#outputDiv > div {
    margin: 30px 0;  /* agregar margen de 10px arriba y abajo */
    width: 500px
  }
  html {
    width: 100%;
    margin: 0 auto;
  }
  